/* body { */
  /* margin: 0 20% 0 20%; */
/* } */

.calculator{
  padding-top: 50px;
}

li.ub-grid.grid-line {
    display: table;
    position: relative;
    width: 100%;
  margin: 10px;
}
.ub-grid.grid-column {
    display: table-cell;
    position: relative;
    vertical-align: top;
    min-width: 160px;
    width: 50%;
    padding: 10px;
}
.grid-column select {
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
    background: #fff;
    border: 2px solid #fda729;
    color: #212121;
}
input#weight, input#length,
select#krov, select#krov2 {
    width: 94%;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
    background: #fff;
    border: 2px solid #fda729;
    color: #212121;
}
select#steny, select#perekrytie {
    width: 99%;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
    background: #fff;
    border: 2px solid #fda729;
    color: #212121;
}
 /* для элемента input c type="radio" */
.radioo>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.radioo>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.radioo>span::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #fda729;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.radioo>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #fda729;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.radioo>input:not(:disabled):active+span::before {
  background-color: #fda729;
  border-color: #fda729;
}

/* стили для радиокнопки, находящейся в фокусе */
.radioo>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem #ffc10799;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.radioo>input:focus:not(:checked)+span::before {
  border-color: #fda729;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.radioo>input:checked+span::before {
  border-color: #fda729;
  background-color: #fda729;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.radioo>input:disabled+span::before {
  background-color: #fda729;
}
.row12 {
    background: #fda729;
    margin-top: 10px;
    padding: 20px;
    width: 96%;
    text-align: right;
}
.row1.col-12.mb-3 {
    color: #212121;
    font-size: 21px;
    font-weight: 700;
}
.field-radio-group {
    margin-bottom: -8px;
}
p.badge.badge-warning {
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: PTSans-Regular,sans-serif;
    padding: 10px;
}
